[submodule "rushes_prolog"]
	path = rushes_prolog
	url = https://github.com/42dannywillems/rushes_prolog.git
[submodule "rushes_lisp"]
	path = rushes_lisp
	url = https://github.com/42dannywillems/rushes_lisp
[submodule "rushes_yasl"]
	path = rushes_yasl
	url = https://github.com/42dannywillems/rushes_yasl
[submodule "rushes_alcu"]
	path = rushes_alcu
	url = https://github.com/42dannywillems/rushes_alcu
[submodule "rushes_arkanoid"]
	path = rushes_arkanoid
	url = https://github.com/42dannywillems/rushes_arkanoid
[submodule "rushes_mexican.standoff"]
	path = rushes_mexican.standoff
	url = https://github.com/42dannywillems/rushes_mexican.standoff
[submodule "rushes_wong.kar.wai"]
	path = rushes_wong.kar.wai
	url = https://github.com/42dannywillems/rushes_wong.kar.wai
