[submodule "rushes_prolog"]
	path = rushes_prolog
	url = https://github.com/42dannywillems/rushes_prolog.git
[submodule "rushes_lisp"]
	path = rushes_lisp
	url = https://github.com/42dannywillems/rushes_lisp
[submodule "rushes_yasl"]
	path = rushes_yasl
	url = https://github.com/42dannywillems/rushes_yasl
[submodule "rushes_alcu"]
	path = rushes_alcu
	url = https://github.com/42dannywillems/rushes_alcu
[submodule "rushes_arkanoid"]
	path = rushes_arkanoid
	url = https://github.com/42dannywillems/rushes_arkanoid
